.details {
    width: 100%;
    height: 16rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    @media(min-width: 768px) {
        height: 27.5rem;
    }

    @media(min-width: 1024px) {
        height: 25rem;
    }

    .details-container {
        width: 86.4%;
        max-width: 75rem;
        margin: 0 auto;
        .details-wrapper {
            padding-top: 2rem;
            @media(min-width: 768px) {
                display: flex;
                column-gap: 5.063rem;
                padding-top: 4.5rem;
            }

            @media(min-width: 1024px) {
                padding-top: 2.5rem;
            }

            @media(min-width: 1201px) {
                column-gap: 0;
                .details-left {
                    padding-right: 9.188rem;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 240px;
                        right: 0;
                        top: 2.4rem;
                        background-color: $veryDarkGrey;
                        opacity: 0.25;
                    }
                }

                .details-right {
                    padding-left: 5.875rem;
                }
            }

            .detail-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding-top: 1rem;
                @media(min-width: 768px) {
                    display: block;
                    padding-top: 3.063rem;
                }

                @media(min-width: 1024px) {
                    padding-top: 2.625rem;
                }

                .detail-title{
                    text-transform: uppercase;
                    font-size: 0.625rem;
                    letter-spacing: 0.125rem;
                    font-weight: 400;
                    @media(min-width: 768px) {
                        font-size: 0.813rem;
                    }

                    @media(min-width: 1024px) {
                        font-size: 0.938rem;
                        margin-bottom: 0.563rem;
                    }
                }

                .detail-value {
                    font-size: 1.25rem;
                    font-weight: 700;
                    @media(min-width: 768px) {
                        font-size: 2.5rem;
                    }

                    @media(min-width: 1024px) {
                        font-size: 3.45rem;
                    }
                }
            }
        }
    }
}

.details-bg-day {
    background-color: hsla(0, 0%, 100%, 0.75);
}

.details-bg-night {
    background-color: hsla(0, 0%, 0%, 0.75);
}

.detail-text-day {
    color: $black;
}

.detail-text-night {
    color: $white
}

.show-details {
    opacity: 1;
    transition: 0.4s;
}

.hide-details {
    opacity: 0;
    transition: 0.4s;
}