@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black: hsl(0, 0%, 0%);
$veryDarkGrey: hsl(0, 0%, 19%);
$white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    color: $white;
}

.bg-img {
    background-size: cover;
    background-position: bottom;
    position: absolute;
    inset: 0;
    z-index: -1;
    display: none;
}

.show-bg {
    display: block;
}

.bg-img::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.4);
}

.bg-img-day {
    background-image: url('../assets/mobile/bg-image-daytime.jpg');
    @media(min-width: 481px) {
        background-image: url('../assets/tablet/bg-image-daytime.jpg');
    }

    @media(min-width: 769px) {
        background-image: url('../assets/desktop/bg-image-daytime.jpg');
    }
}

.bg-img-night {
    background-image: url('../assets/mobile/bg-image-nighttime.jpg');
    left: -1rem;
    @media(min-width: 481px) {
        background-image: url('../assets/tablet/bg-image-nighttime.jpg');
    }

    @media(min-width: 769px) {
        background-image: url('../assets/desktop/bg-image-nighttime.jpg');
    }
}

.main-content {
    width: 86.4%;
    max-width: 75rem;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

@import './quote';
@import './clock';