@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  color: white;
  overflow: hidden;
}

.bg-img {
  background-size: cover;
  background-position: bottom;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: none;
}

.show-bg {
  display: block;
}

.bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-day {
  background-image: url("../assets/mobile/bg-image-daytime.jpg");
}

@media (min-width: 481px) {
  .bg-img-day {
    background-image: url("../assets/tablet/bg-image-daytime.jpg");
  }
}

@media (min-width: 769px) {
  .bg-img-day {
    background-image: url("../assets/desktop/bg-image-daytime.jpg");
  }
}

.bg-img-night {
  background-image: url("../assets/mobile/bg-image-nighttime.jpg");
  left: -1rem;
}

@media (min-width: 481px) {
  .bg-img-night {
    background-image: url("../assets/tablet/bg-image-nighttime.jpg");
  }
}

@media (min-width: 769px) {
  .bg-img-night {
    background-image: url("../assets/desktop/bg-image-nighttime.jpg");
  }
}

.main-content {
  width: 86.4%;
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.move-up {
  -webkit-transform: translateY(-16rem);
          transform: translateY(-16rem);
}

.quote-container {
  max-width: 35.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (min-width: 481px) {
  .quote-container {
    padding-top: 3.5rem;
  }
}

.quote-container .quote {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 481px) {
  .quote-container .quote {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 0.813rem;
  }
}

.quote-container .author {
  font-size: 0.75rem;
  font-weight: 700;
}

@media (min-width: 481px) {
  .quote-container .author {
    font-size: 1.125rem;
  }
}

.quote-container .refresh {
  background: transparent;
  border: none;
  margin-left: 1.042rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.quote-container .refresh:hover, .quote-container .refresh:focus-visible {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.quote-container .refresh:hover path, .quote-container .refresh:focus-visible path {
  opacity: 1;
}

.quote-container .refresh:focus-visible {
  outline: none;
  -webkit-box-shadow: 0px 3px 0px -1px white;
  box-shadow: 0px 3px 0px -1px white;
}

.hide-quote {
  opacity: 0;
}

.clock-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock-top .sun,
.clock-top .moon {
  display: none;
}

.clock-top .show {
  display: block;
}

.clock-top .greeting {
  font-size: 0.938rem;
  font-weight: 400;
  letter-spacing: 0.188rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

.clock-top .greeting .currently {
  display: none;
}

@media (min-width: 481px) {
  .clock-top .greeting .currently {
    display: inline;
  }
}

.clock-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock-middle .time-left {
  font-size: 6.25rem;
}

.clock-middle .time-right {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.6rem;
  padding-left: 0.313rem;
}

.clock-bottom {
  padding-bottom: 3rem;
}

.clock-bottom .location {
  font-size: 0.938rem;
  font-weight: 700;
  letter-spacing: 0.188rem;
  text-transform: uppercase;
}

.details-btn {
  cursor: pointer;
  border: none;
  background-color: white;
  width: 7.188rem;
  height: 2.438rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.75rem;
  font-family: inherit;
  margin-bottom: 2.5rem;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.details-btn:hover, .details-btn:focus-visible {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.details-btn:focus-visible {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px #303030, 0px 0px 0px 6px white;
          box-shadow: 0px 0px 0px 3px #303030, 0px 0px 0px 6px white;
}

.details-btn .more-less {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.234rem;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-left: 1.063rem;
}

.details-btn .arrow {
  width: 2rem;
  margin-right: 0.25rem;
}

.details-btn .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.details {
  width: 100%;
  height: 16rem;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.details-bg-day {
  background-color: white;
  opacity: 0;
}

.details-bg-night {
  background-color: black;
  opacity: 0;
}

.detail-text-day {
  color: black;
}

.detail-text-night {
  color: white;
}

.show-details {
  opacity: 0.75;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hide-details {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=styles.css.map */