@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black: hsl(0, 0%, 0%);
$veryDarkGrey: hsl(0, 0%, 19%);
$white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    color: $white;
}

.bg-img {
    background-size: cover;
    background-position: bottom;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.bg-img::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.4);
}

.bg-img-day {
    background-image: url('../assets/mobile/bg-image-daytime.jpg');
    @media(min-width: 481px) {
        background-image: url('../assets/tablet/bg-image-daytime.jpg');
    }

    @media(min-width: 769px) {
        background-image: url('../assets/desktop/bg-image-daytime.jpg');
    }
}

.bg-img-night {
    background-image: url('../assets/mobile/bg-image-nighttime.jpg');
    left: -1rem;
    @media(min-width: 481px) {
        background-image: url('../assets/tablet/bg-image-nighttime.jpg');
    }

    @media(min-width: 769px) {
        background-image: url('../assets/desktop/bg-image-nighttime.jpg');
    }
}

.quote-container {
    width: 86.4%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
    .quote {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.375rem;
        margin-bottom: 0.5rem;
    }

    .author {
        font-size: 0.75rem;
        font-weight: 700;
    }

    .refresh {
        background: transparent;
        border: none;
        margin-left: 1.042rem;
        transition: transform 0.3s;
        &:hover,
        &:focus {
            cursor: pointer;
            transform: scale(1.3);
            path {
                opacity: 1;
            }
        }

        &:focus {
            outline: none;
            -webkit-box-shadow: 0px 3px 0px -1px $white; 
            box-shadow: 0px 3px 0px -1px $white;
        }
    }
}